.container {
  width: 100%;
  transform: rotateX(180deg);
  overflow-x: auto;
  margin-top: 32px;

  .table1 {
    margin-top: 16px;
    width: 100%;
    transform: rotateX(180deg);
  }
}

.rowT {
  position: relative;
}

.inputTable {
  border: none;
  outline: none;
  width: 100%;
  height: 30px;
  text-align: right;
  padding: 0 4px;
}

.selectedAbs {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 255, 212, 0.3);
}
